<div class="datatable">
  <div class="datatableTitle">
    Add New User
    <a routerLink="/users/new" class="link"> Add New </a>
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      class="datagrid mat-elevation-z8"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.id.length > 5
              ? element.id.substring(0, 5) + "..."
              : element.id
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>Img</th>
        <td mat-cell *matCellDef="let element">
          <div class="cellWithImg">
            <img
              class="cellImg"
              [src]="element.img ? element.img : 'assets/person/noAvatar.png'"
              alt="avatar"
            />
            {{ element.username }}
          </div>
        </td></ng-container
      >

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <div
            [class]="
              'cellWithStatus ' + (element.status == 1 ? 'active' : 'pending')
            "
          >
            {{ element.status == 1 ? "active" : "pending" }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div class="cellAction">
            <a [routerLink]="['/users', element.id]">
              <div class="viewButton">View</div>
            </a>
            <div
              class="deleteButton"
              (click)="$event.stopPropagation(); handleDelete(element)"
            >
              Delete
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
