<div class="top">
  <div class="left">
    <div class="editButton">Edit</div>
    <h1 class="title">Information</h1>
    <div class="item">
      <img
        [src]="
          actualUser && actualUser.img
            ? actualUser.img
            : 'assets/person/noAvatar.png'
        "
        alt=""
        class="itemImg"
      />
      <div class="details">
        <h1 class="itemTitle">{{ actualUser?.username }}</h1>
        <div class="detailItem">
          <span class="itemKey">Email:</span>
          <span class="itemValue">{{ actualUser?.email }}</span>
        </div>
        <div class="detailItem">
          <span class="itemKey">Age:</span>
          <span class="itemValue">{{ actualUser?.age }}</span>
        </div>
        <div class="detailItem">
          <span class="itemKey">Address:</span>
          <span class="itemValue"> Elton St. 234 Garden Yd. NewYork </span>
        </div>
        <div class="detailItem">
          <span class="itemKey">Status</span>
          <span
            [class]="
              'itemValue ' + (actualUser?.status === 1 ? 'active' : 'pending')
            "
          >
            {{ actualUser?.status === 1 ? "active" : "pending" }}
          </span>
        </div>
        <div class="detailItem">
          <span class="itemKey">Country:</span>
          <span class="itemValue">USA</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <app-chart title="User Spending ( Last 6 Months)" />
  </div>
</div>
<div class="bottom">
  <h1 class="title">Last Transactions</h1>
  <app-table [rows]="ordersUser$ ? (ordersUser$ | async) || [] : []" />
</div>
